.auth-form {
	max-width: 396px;
	width: 100%;
	padding: 70px 0 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.auth-form__logo {
	transition: linear .2s;
}

.auth-form__logo-icon {
	display: block;
}

.auth-form__logo:hover {
	transition: linear .2s;
	opacity: 0.8;
}

.auth-form__form {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	width: 100%;
}

.auth-form__title {
	margin: 0 0 40px;
	padding: 40px 0 0;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
}

.auth-form__field {
	padding: 0;
	margin: 0 0 10px;
	color: #8B8B8B;
	font-size: 10px;
	font-weight: 400;
	line-height: normal;
}

.auth-form__input {
	padding: 15px;
	margin: 0 0 10px;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
	border: none;
	border-radius: 8px;
	background-color: #2F2F2F;
}

.auth-form__input:nth-child(2n) {
	font-weight: 500;
}

.auth-form__error {
	padding: 0;
	color: #EE3465;
	height: 10px;
	font-size: 10px;
	font-weight: 400;
	line-height: normal;
}

.auth-form__input_error:invalid {
	color: #EE3465;
}

.auth-form__btn {
	padding: 0;
	margin: 69px 0 0;
	box-sizing: border-box;
	max-width: 396px;
	height: 45px;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	background-color: #4285F4;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	transition: linear .2s;
}

.auth-form__btn_disabled {
	background-color: #F8F8F8;
	color: #C2C2C2;
}

.auth-form__btn:hover {
	transition: linear .2s;
	opacity: 0.8;
}

.auth-form__log {
	margin-top: 159px;
}

.auth-form__question {
	display: flex;
	justify-content: center;
	gap: 6px;
}

.auth-form__question-text {
	padding: 0;
	margin: 0;
	color: #8B8B8B;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}

.auth-form__question-link {
	text-decoration: none;
	color: #4285F4;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
	transition: linear .2s;
	box-sizing: border-box;
	display: block;
}

.auth-form__question-link:hover {
	transition: linear .2s;
	opacity: 0.7;
}

@media screen and (max-width: 1023px) {
	.auth-form {
		padding: 232px 0 0;
	}
}

@media screen and (max-width: 767px) {
	.auth-form {
		padding: 56px 0 0;
		align-items: center;
	}

	.auth-form__form {
		margin-bottom: 14px;
		max-width: 260px;
	}

	.auth-form__title {
		margin: 0 0 80px;
		padding: 50px 0 0;
		text-align: center;
	}

	.auth-form__btn {
		margin: 159px 0 0;
		box-sizing: border-box;
		font-size: 12px;
	}

	.auth-form__log {
		margin-top: 247px;
	}

	.auth-form__question {
		gap: 7px;
	}

	.auth-form__question-text {
		font-size: 12px;
	}

	.auth-form__question-link {
		font-size: 12px;
	}
}