.about-project {
	padding: 0 70px;
	min-height: 608px;
}

.about-project__title {
	padding: 110px 0 23px;
	margin: 0 0 70px;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.88px;
	border-bottom: 1px solid #DADADA;
}

.columns {
	display: flex;
	margin-bottom: 110px;
	gap: 40px;
}

.columns__text {
	max-width: 550px;
}

.columns__subtitle {
	padding: 0;
	margin: 0 0 26px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.8px;
}

.columns__paragraph {
	padding: 0;
	margin: 0;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px
}

.sidebar {
	display: flex;
}

.sidebar__bar {
	flex: 1 1 228px;
}

.sidebar__bar:last-child {
	flex: 1 1 912px;
}

.sidebar__text {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9px 14px;
	margin: 0 0 14px;
	font-size: 14px;
	font-weight: 400;
	line-height: normal;
}

.sidebar__text_bar-left {
	color: #000000;
	background: #3DDC84;
}

.sidebar__text_bar-right {
	color: #FFFFFF;
	background: #303030;
}

.sidebar__desc {
	padding: 0;
	margin: 0;
	color: #8B8B8B;
	font-size: 14px;
	text-align: center;
	font-weight: 500;
	line-height: 17px;
}

@media screen and (max-width:1023px) {
	.about-project {
		min-height: 585px;
		padding: 0 50px;
	}

	.about-project__title {
		padding: 90px 0 23px;
	}

	.columns {
		margin-bottom: 93px;
		gap: 38px;
	}

	.columns__subtitle {
		margin: 0 0 22px;
	}

	.columns__paragraph {
		font-size: 12px;
		line-height: 18px
	}

	.sidebar__bar {
		flex: 1 1 140px;
	}

	.sidebar__bar:last-child {
		flex: 1 1 528px;
	}

	.sidebar__desc {
		font-weight: 400;
	}
}

@media screen and (max-width:767px) {
	.about-project {
		padding: 0 18px;
		min-height: 641px;
	}

	.about-project__title {
		padding: 70px 0 28px;
		margin: 0 0 60px;
		font-size: 18px;
		letter-spacing: -0.72px;
	}

	.columns {
		flex-direction: column;
		align-items: center;
		margin-bottom: 60px;
		gap: 59px;
	}

	.columns__subtitle {
		margin: 0 0 16px;
		font-size: 18px;
		letter-spacing: -0.72px;
	}

	.columns__paragraph {
		font-size: 11px;
		line-height: 16px;
	}

	.sidebar__text {
		padding: 11px 10px;
		margin: 0 0 10px;
		font-size: 11px;
	}

	.sidebar__desc {
		font-size: 11px;
		font-weight: 400;
		line-height: normal;
	}

	.sidebar__bar {
		flex: 0 1 100px;
	}

	.sidebar__bar:last-child {
		flex: 1 1 184px;
	}
}