.footer {
	min-height: 172px;
	padding: 0 70px;
}

.footer__title {
	padding: 79px 0 20px;
	margin: 0 0 19px;
	color: #8B8B8B;
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
	border-bottom: 1px solid #8B8B8B;
}

.footer__meta {
	display: flex;
	justify-content: space-between;
}

.footer__text {
	padding: 0;
	margin: 0;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	width: 48px;
}

.footer__link {
	transition: linear .2s;
}

.footer__link:hover {
	transition: linear .2s;
	opacity: 0.7;
}

.footer__list {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 20px;
	list-style-type: none;
}

@media screen and (max-width:1023px) {
	.footer {
		padding: 0 30px;
	}

	.footer__title {
		padding: 78px 0 19px;
	}
}

@media screen and (max-width:767px) {
	.footer {
		padding: 0 10px;
	}

	.footer__title {
		padding: 79px 0 21px;
		margin: 0 0 27px;
		font-size: 12px;
	}

	.footer__meta {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 20px;
	}

	.footer__text {
		padding: 0;
		margin: 0;
		color: #8B8B8B;
		font-size: 12px;
		order: 2;
	}

	.footer__link {
		color: #FFFFFF
	}

	.footer__list {
		flex-direction: column;
		align-items: center;
		gap: 8px;
		margin-bottom: 30px;
	}
}