.search {
	min-height: 217px;
	padding: 0 70px;
}

.search__input {
	display: flex;
	justify-content: space-between;
	padding: 70px 0 13px;
	margin-bottom: 32px;
	border-bottom: 1px solid #424242;
}

.search__text {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
	color: #8B8B8B;
	font-size: 28px;
	font-weight: 500;
	line-height: normal;
	outline: 0;
	background-color: transparent;
	border: none;
}

.search__btn {
	padding: 0;
	margin: 0 0 0 46px;
	width: 34px;
	height: 34px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
	border: none;
	border-radius: 100%;
	transition: linear .2s;
}

.search__btn:hover {
	transition: linear .2s;
	opacity: 0.8;
}

@media screen and (max-width: 1023px) {
	.search {
		min-height: 237px;
		padding: 0 30px;
	}

	.search__input {
		padding: 80px 0 13px;
		margin-bottom: 29px;
	}
}

@media screen and (max-width: 767px) {
	.search {
		min-height: 238px;
		padding: 0 14px;
	}

	.search__input {
		padding: 90px 0 15px;
		margin-bottom: 40px;
	}

	.search__text {
		font-size: 18px;
	}
}